* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  
  body {
    background: -webkit-gradient(linear, left top, right top, from(black), to(purple));
    background: -webkit-linear-gradient(left, black, purple);
    background: -o-linear-gradient(left, black, purple);
    background: linear-gradient(to right, black, purple);

}
  
  .title {
    text-align: center;
    color: rgb(116, 75, 103); 
    font-family:Georgia, 'Times New Roman', Times, serif

}
  
  .calendar {
    background-color: rgb(79, 88, 88);
    width: 80%;
    max-width: 600px;
    margin: 1em auto;
    padding: .5em 0; 

}
    .calendar__info {
      
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 2em;
      font-size: 1.2em;
      text-transform: uppercase; 
      font-weight: bold;
    
}
    .calendar__prev, .calendar__next {
      color: #eb5199;
      cursor: pointer;
      font-size: 1.3em; 
    
}
    .calendar__prev {
      margin-right: auto; 
    
}
    .calendar__next {
      margin-left: auto; 


}
    .calendar__week, .calendar__dates {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 10px; 
    
}
    .calendar__month, .calendar__year {
      padding: .5em 1em; 
      color: #eb5199;
      font-size: 1.3em;
    
}
    .calendar__item {
        
      text-align: center;
      line-height: 2; 
    
}
    .calendar__today {
      display: block;
      background: rgb(252, 159, 205);
      color: white;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: auto; 
      
    
}
    .calendar__last-days {
      opacity: .2; 
      color: blanchedalmond;
    
}